/*	Gallery.css	*/
/*	Stylesheet for a gallery with CSS, no JS	*/
/*	Author Pepyn Swagemakers	*/

/*--------------*/
/*Page Structure*/
/*--------------*/

body{
	background-image: url('../pics/gallery_background.jpg') ;
	background-repeat:no-repeat;
	background-size:cover;
}

#container{
	margin: 1em 3em;
}

header{
	width:100%; 
	height:100px;
	background-color: black;
	color:grey;
	text-align: center;
}

h1{
	padding-top:1em; 
	padding: auto;}

#main_gallery{}


/*--------------------*/
/*Fonts and typography*/
/*--------------------*/

@import url("http://fonts.googleapis.com/css?family=Special+Elite");


h1{
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

a{
	text-decoration: none;
	color:black;
}

/*Display links title attribute as image caption*/
a:after{
	content:attr(title);
	font-family: 'Special Elite', cursive;
	font-size:18px;
	margin-top:4px;
}

/*---------*/
/* Gallery */
/*---------*/

a img {
	width: 180px; 
	height:180px;
} 

.polaroid{
	background-color: white;
	padding:5px 5px 15px 5px;
	margin: 10px 48px;
	display:inline-block;
	width: 180px;
	box-shadow: 5px 5px 2px 1px #484848;
}

a:hover, a:focus{ /*Apply properties for all transforms here, let nth:child determine scaling and rotation*/
	position: relative;
	z-index: 4;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	box-shadow: 10px 10px 2px 1px #484848;
}

#main_gallery a:nth-child(1n):hover, #main_gallery a:nth-child(1n):focus{
	-webkit-transform:scale(1.25) rotate(-5deg);
	-moz-transform:scale(1.25) rotate(-5deg);
}

#main_gallery a:nth-child(2n):hover, #main_gallery a:nth-child(2n):focus{
	-webkit-transform:scale(1.25) rotate(5deg);
	-moz-transform:scale(1.25) rotate(5deg);
}

#main_gallery a:nth-child(3n):hover, #main_gallery a:nth-child(3n):focus{
	-webkit-transform:scale(1.55) rotate(-3deg);
	-moz-transform:scale(1.55) rotate(-3deg);

}

#main_gallery a:nth-child(5n):hover, #main_gallery a:nth-child(5n):focus{
	-webkit-transform:scale(1.4) rotate(14deg);
	-moz-transform:scale(1.4) rotate(14deg);

}

#main_gallery a:nth-child(7n):hover, #main_gallery a:nth-child(7n):focus{
	-webkit-transform:scale(1.4) rotate(370deg);
	-moz-transform:scale(1.4) rotate(370deg);
	-moz-transition: all 1.2s ease-in-out;
	-webkit-transition: all 1.2s ease-in-out;
}