/*
 Stylesheet.css 
 Author: Pepyn Swagemakers
 Course 1IK415
 */

/* Import */

/* @import "reset.css"; */




/* Page Structure */

body{
	margin:50px 0px; 
	padding:0px;
	background-color: #033959;
	text-align:center; /* IE5 workaround */
}

#container {
	width: 1100px;
	margin:0px auto;
	padding: 15px;
	text-align: left;

	/*debug purpose border & background, change later*/
	border:2px solid black; 
	background-color: #BAE3FB;
}

header{

	/*debug purposes*/
	min-height: 100px;
	border:1px solid pink;
}

/* Rules for nav menu */

#menu li {
	display:inline;
	padding-left: 25px;
	padding-right: 150px;
	border-left:1px solid white;
}

#menu ul{
	margin:0;
	padding:0;
	width:100%;
	float:left;
	border-right: 1px solid white;
	list-style-type: none;
	background-color:#750035;
}

#menu ul:hover{
	background-color:#750035;
}

#menu a{
	color:white;
 
}

/* Two-column layout */

#sidebar{
	width:225px;
	min-height: 100px;
	padding-left: 16px;
	float: left;
	border-left:1px dotted #750035;
}

#main {
	/*position:absolute; */
	width:600px;
	padding-left:16px;
	float:right;
	border-left:1px dotted #750035;
}

footer{

	clear:both;
	border: 1px solid blue;

	/* debug purposes, remove*/
	min-height: 100px;

}


/* Text and Typography */

h1,h2,h3,h4,h5,h6 {

	font-variant: small-caps;
	color:#750035;
	border-bottom: 1px dotted #750035;
}

p a {
	color: #9C1351;
	border-bottom: 1px dotted #9C1351;
}



/* Navigation Menu */

/* Images and tables */


/* Helper Classes */

.left{}

.right{}